* {
    margin: 0;
    padding: 0;
    font-size: 10;
    font-family: cursive;
}

:root {
    --max-width: max(1150px);
}

body {
    display: grid;
    grid-template:  6rem auto 3rem / repeat(12  , 1fr);
}

/* Header */

header {
    grid-column: 2 / 12 ;
    background-color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Main */

main {
    grid-column: 2/12;
}

#button-container {
    height: 6rem;
    background: violet;
    display: flex;
    justify-content: center;
    align-items: center;
}

#button-container > button {
    padding: 0.5rem 0.75rem;
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: 10px;
}

#book-grid{
    background-color: yellowgreen;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: calc(1rem + 1vw)
}   

.trial {
    height: 275px;
    background-color: black;
    border-radius: 25px;
}

.library-display {
    display: flex;
    flex-direction: column;
    height: 275px;
    border-radius: 25px;
    box-sizing: border-box;
    padding: 1.5rem;
    gap: 10px;
    font-size: 22px;
    font-weight: 600;
    align-items: center;
    background-color: blanchedalmond;   
}

.property {
    text-align: center;
    width: 100%;
    height: 38px;   
}

.rm, .chg {
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
}

.rm {
    background-color: rgba(255, 0, 0, 0.500);
}

.chg.read{
    background-color: rgba(0, 255, 13, 0.5);
}

.chg.not-read{
    background-color: rgba(255, 0, 0, 0.500);
}

/* Footer */

footer {
    background-color: aliceblue;
    grid-column: 2/12;
    grid-row: 3/4;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer > p > a:visited, footer > p > a:active  {
    text-decoration: none;
    color: black;
}

/* Modal */

.modal {
    position: fixed;
    transform: translate(-50%, -50%) scale(0);
    top: 50%;
    left: 50%;
    z-index: 10;
    width: 250px;
    padding: 10px;
    border-radius: 15px;
    background-color: burlywood;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.25rem;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal > p {
    font-weight: bold;
}

.modal > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.modal > form > input {
    margin: 10px 0;
    height: 2rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    padding-left: 10px;
}

.modal > form > div {
    display: flex;
    justify-content: center;
    gap: 5px;
    font-weight: 600;   
}

.modal > form > button {
    margin-top: 10px;
    height: 2rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
}

#overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(117, 117, 117, 0.5);
    pointer-events: none;
}

#overlay.active{
    opacity: 1;
    pointer-events: all;
}

